<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            {siteTitle -> f:format.raw()}
            <f:cObject typoscriptObjectPath="lib.logo" />
        </div>

        <div class="navbar-form navbar-right">
            <f:render partial="SearchForm" arguments="{_all}"/>
        </div>
        <f:cObject typoscriptObjectPath="lib.languagemenu" />
        <f:cObject typoscriptObjectPath="lib.mainnav" />
        <f:cObject typoscriptObjectPath="lib.login"/>
    </div>
</nav>