
<div class="container">
    <h2 class="mb-3">{data.title}</h2>
    <div class="col-sm-3">
        {content0 -> f:format.raw()}
        {content4 -> f:format.raw()}
    </div>
    <div class="col-sm-3">
        {content1 -> f:format.raw()}
        {content5 -> f:format.raw()}
    </div>
    <div class="col-sm-3">
        {content2 -> f:format.raw()}
        {content6 -> f:format.raw()}
    </div>
    <div class="col-sm-3">
        {content3 -> f:format.raw()}
        {content7 -> f:format.raw()}
    </div>
</div>


