<f:if condition="{data.header}">
{data.header}<br />
</f:if>

<f:if condition="{data.subheader}">
{data.subheader}<br />
</f:if>

<f:if condition="{data.tx_mask_sushi_factory_rezept_images}">
<ul>
<f:for each="{data.tx_mask_sushi_factory_rezept_images}" as="data_item">
<li><f:if condition="{data_item.tx_mask_sushi_factory_rezept_image}">
<f:for each="{data_item.tx_mask_sushi_factory_rezept_image}" as="file">
  <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="200" /><br />
  {file.description} / {file.identifier}<br />
</f:for>
</f:if>


<f:if condition="{data_item.tx_mask_sushi_factory_rezept_image_caption}">
{data_item.tx_mask_sushi_factory_rezept_image_caption}<br />
</f:if>


</li>
</f:for>
</ul>
</f:if>

<f:if condition="{data.tx_mask_sushi_factory_rezept_beschreibung}">
<f:format.nl2br>{data.tx_mask_sushi_factory_rezept_beschreibung}</f:format.nl2br><br />
</f:if>

