.header-logo {
    height: 50px;
    margin-right: 15px;
}

.jumbotron {
    padding: 0;
    background-color: white;
}

.pre-wrap {
    white-space: pre-wrap;
}

footer {
    padding-top: 25px;
    padding-bottom: 25px;
}

.float-right {
    float: right;
}

.metanav {
    list-style-type: none;
}

.metanav li {
    display: inline-block;
    padding-left: 25px;
}

.metanav li a {
    color: black;
}